.introduction {
  padding: 0 26px 0 26px;
  margin-bottom: 25px;
}

.introduction__wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 81px 72px 150px 109px;
  border-radius: 22.27px;
  background-color: #fcf9ec;
  isolation: isolate;
  overflow: hidden;
}

.introduction__wrapper::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('../assets/img/svg/introductionBG.svg') no-repeat;
  background-size: 100% 100%;
  z-index: -2;
}

.introduction__dialog {
  display: flex;
  height: fit-content;
}

.introduction__dialog-owner-avatar {
  align-self: flex-end;
  margin-right: 10px;
}

.introduction__dialog_text-wrapper {
  max-width: 712px;
  padding: 25px 51px 25px 35px;
  border-radius: 19.65px 19px 19.65px 0.85px;
  background-color: #1c195b;
  box-shadow: 0px 0px 45px 0px #ffe70c94;
}

.introduction__dialog_text {
  font-family: Geologica;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
}

.introduction__dialog_text-underline {
  text-decoration: underline;
}

.introduction__dialog_text:nth-of-type(1) {
  max-width: 580px;
  margin-bottom: 25px;
}

.introduction__dialog_text:nth-of-type(2) {
  max-width: 535px;
  margin-bottom: 25px;
}

.introduction__dialog_text:nth-of-type(3) {
  max-width: 530px;
}

.ua .introduction__dialog_text:nth-of-type(3) {
  max-width: 535px;
}



.introduction__info-wrapper {
  position: absolute;
  bottom: 0;
  right: 13px;
}

.introduction__info {
  position: relative;
}

.introduction__info_qr {
  position: absolute;
  top: 92px;
  right: 59px;
}

.introduction__info_figcaption {
  padding-left: 40px;
  margin-bottom: 3px;
  font-family: Geologica;
  font-size: 13.28px;
  font-weight: 400;
  line-height: 17.93px;
  color: #1c195b;
}

.introduction__info_owners-figure {
  width: 617px;
  height: 551px;
}

.introduction__info_owners-wrapper {
  z-index: -1;
  position: relative;
}

.introduction__info_owners-figcaption {
  position: absolute;
  right: 92px;
  bottom: 125px;
  padding: 11px 56px 11px 18px;
  border-radius: 6px;
  background-color: #2943de;
}

.introduction__info_owners-info-heading {
  margin-bottom: 5px;
  font-family: Wadik;
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  letter-spacing: 0.02em;
  text-align: left;
}

.introduction__info_owners-info-text {
  font-family: Geologica;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.8px;
  text-align: left;
}

.introduction__dialog_text-wrapper-desktop {
  display: block;
}

.introduction__dialog_text-wrapper-mobile {
  display: none;
}

@media (max-width: 1280px) {
  .introduction__wrapper {
    padding: 81px 50px 150px 70px;
  }

  .introduction__info-wrapper {
    right: -43px;
  }
}

@media (max-width: 1180px) {
  .introduction__dialog_text-wrapper {
    max-width: 550px;
  }
}

@media (max-width: 1080px) {
  .introduction__wrapper {
    padding: 81px 50px 555px 50px;
  }

  .introduction__dialog_text-wrapper {
    max-width: 712px;
  }

  .introduction__info-wrapper {
    right: 50%;
    transform: translateX(50%);
  }
}

@media (max-width: 590px) {
  .introduction {
    padding: 0 7px 0 6px;
    margin-bottom: 25px;
  }

  .introduction__container {
    margin: 0 auto;
    max-width: 377px;
  }

  .introduction__wrapper {
    padding: 29px 0 331px 4px;
  }

  .introduction__wrapper::before {
    background: url('../assets/img/introductionBGMobile.png') no-repeat;
    background-size: 100% 100%;
  }

  .introduction__dialog-owner-avatar {
    width: 38px;
    height: 38px;
    margin-right: 4px;
  }

  .introduction__dialog_text-wrapper {
    max-width: 315px;
    padding: 15px 17px 15px 25px;
  }

  .introduction__dialog_text {
    font-size: 14px;
    line-height: 18px;
  }

  .introduction__dialog_text:nth-of-type(1) {
    max-width: 255px;
    margin-bottom: 15px;
  }

  .introduction__dialog_text:nth-of-type(2) {
    max-width: none;
    margin-bottom: 15px;
  }

  .introduction__info_owners-figure {
    width: 358px;
    height: 320px;
  }

  .introduction__info_qr {
    top: 26px;
    right: -1px;
  }

  .introduction__info_qr-code {
    width: 107px;
    height: 106px;
  }

  .introduction__info_figcaption {
    padding-left: 32px;
    margin-bottom: 3px;
    font-size: 12px;
    line-height: 16.2px;
  }

  .introduction__info_owners-figcaption {
    padding: 8px 10px 8px 14px;
    border-radius: 4.3px;
    right: 25px;
    bottom: 25px;
  }

  .introduction__info_owners-info-heading {
    margin-bottom: 4px;
    font-size: 14px;
    line-height: 18.2px;
    letter-spacing: 0.02em;
  }

  .introduction__info_owners-info-text {
    font-size: 12px;
    line-height: 14.4px;
  }

  .introduction__dialog_text-wrapper-desktop {
    display: none;
  }

  .introduction__dialog_text-wrapper-mobile {
    display: block;
  }
}
