.qa-acknowledge {
  padding: 0 26px 0 26px;
  margin-bottom: 25px;
}

.qa-acknowledge__wrapper {
  padding: 70px 0 47px 113px;
  border-radius: 25px;
  /* background: url('../assets/img/acknowledgePictures/qaAcknowledgeBG.png') no-repeat; */
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.qa-acknowledge__first-question-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-bottom: 24px;
  padding-right: 113px;
}

.qa-acknowledge__first-question-text {
  max-width: 784px;
  padding: 25px 35px 25px 35px;
  background-color: rgba(65, 60, 178, 1);
  box-shadow: 0px 0px 45px 0px rgba(255, 231, 12, 0.58);
  border-radius: 19.65px 19px 19.65px 0.85px;
  font-family: Wadik;
  font-size: 24px;
  font-weight: 700;
  line-height: 26.54px;
}

.qa-acknowledge__first-question-avatar {
  margin-left: 10px;
}

.qa-acknowledge__first-answer-wrapper {
  display: flex;
  align-items: flex-end;
  margin-bottom: 26px;
}

.qa-acknowledge__first-answer-owner-avatar {
  margin-right: 10px;
}

.qa-acknowledge__first-answer-content {
  max-width: 686px;
  padding: 25px 35px 23px 35px;
  background-color: rgba(28, 25, 91, 1);
  box-shadow: 0px 0px 45px 0px rgba(22, 115, 255, 0.58);
  border-radius: 19.65px 19px 19.65px 0.85px;
}

.qa-acknowledge__first-answer-text {
  font-family: Geologica;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
}

.qa-acknowledge__first-answer-text:nth-of-type(1) {
  margin-bottom: 23px;
}

.qa-acknowledge__first-answer-text:nth-of-type(2) {
  margin-bottom: 23px;
}

.qa-acknowledge__first-answer-text:nth-of-type(3) {
  margin-bottom: 23px;
}

.qa-acknowledge__first-answer-text:nth-of-type(4) {
  margin-bottom: 34px;
}

.en .qa-acknowledge__first-answer-community-wrapper {
  padding: 0;
  max-width: none;
}

.qa-acknowledge__first-answer-community-wrapper {
  padding: 0;
  max-width: fit-content;
}

.qa-acknowledge__first-answer-community-button {
  padding: 19px 52px 13px 47px;
  transform: translate(6px, -6px);
}

.qa-acknowledge__first-answer-community-button-wrapper:hover
  .qa-acknowledge__first-answer-community-button {
  transform: translate(6px, -11px);
}

.qa-acknowledge__first-answer-community-button-underlay {
  width: 99.8%;
}

.qa-acknowledge__first-answer-community-counter-counter {
  left: 0;
  top: 0;
}

.qa-acknowledge__second-question-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-bottom: 24px;
  padding-right: 113px;
}

.qa-acknowledge__second-question-text {
  max-width: 784px;
  padding: 25px 35px 25px 35px;
  background-color: rgba(65, 60, 178, 1);
  box-shadow: 0px 0px 45px 0px rgba(255, 231, 12, 0.58);
  border-radius: 19.65px 19px 19.65px 0.85px;
  font-family: Wadik;
  font-size: 24px;
  font-weight: 700;
  line-height: 26.54px;
}

.qa-acknowledge__second-question-avatar {
  margin-left: 10px;
}

.qa-acknowledge__second-answer-wrapper {
  display: flex;
  align-items: flex-end;
  margin-bottom: 24px;
}

.qa-acknowledge__second-answer-owner-avatar {
  margin-right: 10px;
}

.qa-acknowledge__second-answer-content {
  width: 100%;
  max-width: 1096px;
  padding: 25px 24px 24px 35px;
  background-color: rgba(28, 25, 91, 1);
  box-shadow: 0px 0px 45px 0px rgba(22, 115, 255, 0.58);
  border-radius: 19.65px 19px 19.65px 0.85px;
}

.qa-acknowledge__second-answer-text {
  margin-bottom: 25px;
  font-family: Wadik;
  font-size: 24px;
  font-weight: 700;
  line-height: 26.9px;
}

.qa-acknowledge__second-answer_experience {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 24px;
}

.qa-acknowledge__second-answer_experience-column {
  display: flex;
  flex-direction: column;
}

.qa-acknowledge__second-answer_experience-column:nth-of-type(1) {
  margin-right: 23px;
}

.qa-acknowledge__second-answer_experience-column:nth-of-type(2) {
  margin-right: 20px;
}

.qa-acknowledge__second-answer_experience-custom-wrapper {
  padding-left: 1px;
}

.qa-acknowledge__second-answer_experience-wrapper-1 {
  width: 327px;
  height: 87px;
  padding: 6px 0 0 79px;
  margin-bottom: 8px;
  /* background: url('../assets/img/acknowledgePictures/qaAcknowledgeTeamExperienceBG-1.svg') no-repeat; */
  background-repeat: no-repeat;
}

.qa-acknowledge__second-answer_experience-wrapper-2 {
  width: 327px;
  height: 69px;
  padding: 7px 0 0 79px;
  margin-bottom: 8px;
  /* background: url('../assets/img/acknowledgePictures/qaAcknowledgeTeamExperienceBG-2.svg') no-repeat; */
  background-repeat: no-repeat;
}

.qa-acknowledge__second-answer_experience-wrapper-3 {
  width: 327px;
  height: 92px;
  padding: 8px 0 0 79px;
  /* background: url('../assets/img/acknowledgePictures/qaAcknowledgeTeamExperienceBG-3.svg') no-repeat; */
  background-repeat: no-repeat;
}

.qa-acknowledge__second-answer_experience-wrapper-4 {
  width: 327px;
  height: 91px;
  padding: 8px 0 0 80px;
  margin-bottom: 8px;
  /* background: url('../assets/img/acknowledgePictures/qaAcknowledgeTeamExperienceBG-4.svg') no-repeat; */
  background-repeat: no-repeat;
}

.qa-acknowledge__second-answer_experience-wrapper-5 {
  width: 327px;
  height: 165px;
  padding: 12px 0 0 80px;
  /* background: url('../assets/img/acknowledgePictures/qaAcknowledgeTeamExperienceBG-5.svg') no-repeat; */
  background-repeat: no-repeat;
}

.qa-acknowledge__second-answer_experience-wrapper-6 {
  width: 327px;
  height: 134px;
  padding: 8px 0 0 91px;
  margin-bottom: 13px;
  /* background: url('../assets/img/acknowledgePictures/qaAcknowledgeTeamExperienceBG-6.svg') no-repeat; */
  background-repeat: no-repeat;
}

.qa-acknowledge__second-answer_experience-wrapper-7 {
  width: 327px;
  height: 117px;
  padding: 18px 0 0 91px;
  /* background: url('../assets/img/acknowledgePictures/qaAcknowledgeTeamExperienceBG-7.svg') no-repeat; */
  background-repeat: no-repeat;
}

.qa-acknowledge__second-answer_experience-text {
  font-family: Geologica;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
}

.en .qa-acknowledge__second-answer_experience-text {
  font-family: Geologica;
  font-size: 13px;
  font-weight: 400;
  line-height: 19px;
}

.qa-acknowledge__second-answer_experience-wrapper-1 .qa-acknowledge__second-answer_experience-text {
  max-width: 205px;
}

.qa-acknowledge__second-answer_experience-wrapper-2 .qa-acknowledge__second-answer_experience-text {
  max-width: 180px;
}

.qa-acknowledge__second-answer_experience-wrapper-3 .qa-acknowledge__second-answer_experience-text {
  max-width: 170px;
}

.qa-acknowledge__second-answer_experience-wrapper-5
  .qa-acknowledge__second-answer_experience-text:nth-of-type(1) {
  margin-bottom: 19px;
}

.qa-acknowledge__second-answer_experience-wrapper-6
  .qa-acknowledge__second-answer_experience-text:nth-of-type(1) {
  margin-bottom: 19px;
}

.qa-acknowledge__second-answer_experience-wrapper-6
  .qa-acknowledge__second-answer_experience-text:nth-of-type(2) {
  max-width: 185px;
}

.en
  .qa-acknowledge__second-answer_experience-wrapper-6
  .qa-acknowledge__second-answer_experience-text:nth-of-type(2) {
  max-width: 199px;
}

.qa-acknowledge__second-answer_experience-wrapper-7 .qa-acknowledge__second-answer_experience-text {
  max-width: 211px;
}

.qa-acknowledge__second-answer_team {
  width: 100%;
  position: relative;
  left: -1px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.qa-acknowledge__second-answer_team-figure {
  width: 159px;
}

.qa-acknowledge__second-answer_team-img-wrapper {
  margin-bottom: 8px;
}

.qa-acknowledge__second-answer_team-name {
  padding-left: 1px;
  margin-bottom: 2px;
  font-family: Bicubik;
  font-size: 13px;
  font-weight: 400;
  line-height: 16.9px;
}

.qa-acknowledge__second-answer_team-position {
  font-family: Geologica;
  font-size: 12px;
  font-weight: 400;
  line-height: 16.2px;
  color: rgba(255, 255, 255, 0.45);
}

.qa-acknowledge__second-answer_team-img {
  width: 159px;
  height: 146px;
}

.en .qa-acknowledge__first-answer-community-counter-wrapper {
  max-width: 403px;
}

.en .qa-acknowledge__first-answer-community-wrapper {
  width: fit-content;
}

.qa-acknowledge__first-answer-text-wrapper-desktop,
.qa-acknowledge__second-answer_experience-text-desktop,
.qa-acknowledge__second-answer-text-desktop {
  display: block;
}

.qa-acknowledge__first-answer-text-wrapper-mobile,
.qa-acknowledge__second-answer_experience-text-mobile,
.qa-acknowledge__second-answer_team-mobile,
.qa-acknowledge__second-answer-text-mobile {
  display: none;
}

.qa-acknowledge__second-answer_team-desktop {
  display: flex;
}

#team {
  display: none;
}

@media (max-width: 1335px) {
  .qa-acknowledge__wrapper {
    padding: 70px 0 70px 20px;
  }

  .qa-acknowledge__first-question-wrapper,
  .qa-acknowledge__second-question-wrapper {
    padding-right: 25px;
  }
}

@media (max-width: 1230px) {
  .qa-acknowledge__wrapper {
    padding: 70px 0 70px 20px;
  }

  .qa-acknowledge__second-answer-wrapper {
    max-width: 686px;
  }

  .qa-acknowledge__second-answer_experience-column {
    margin-right: 0;
  }

  .qa-acknowledge__second-answer_experience-column:not(:last-child) {
    margin-bottom: 20px;
  }
}

@media (max-width: 1000px) {
  .qa-acknowledge__first-question-text,
  .qa-acknowledge__second-question-text {
    max-width: 463px;
  }

  .qa-acknowledge__first-answer-wrapper,
  .qa-acknowledge__second-answer-wrapper {
    max-width: 550px;
  }
}

@media (max-width: 830px) {
  .qa-acknowledge__wrapper {
    padding: 70px 20px 45px 25px;
  }

  .qa-acknowledge__first-question-wrapper,
  .qa-acknowledge__second-question-wrapper {
    padding-right: 0;
  }
}

@media (max-width: 680px) {
  .qa-acknowledge__first-question-text,
  .qa-acknowledge__second-question-text {
    max-width: 360px;
  }
}

@media (max-width: 590px) {
  .qa-acknowledge {
    padding: 0 7px 0 6px;
  }

  .qa-acknowledge__wrapper {
    padding: 35px 8px 35px 6px;
    border-radius: 15px;
    /* background-image: url('../assets/img/acknowledgePictures/qaAcknowledgeBGMobile.png'); */
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  .qa-acknowledge__container {
    margin: 0 auto;
    max-width: 363px;
  }

  .qa-acknowledge__first-question-wrapper {
    margin-bottom: 30px;
    padding-right: 3px;
  }

  .qa-acknowledge__first-question-text {
    max-width: 207px;
    padding: 13px 24px 13px 25px;
    box-shadow: none;
    font-size: 13px;
    line-height: 14px;
  }

  .en .qa-acknowledge__first-question-text {
    max-width: 234px;
    padding: 13px 24px 13px 25px;
    box-shadow: none;
    font-size: 13px;
    line-height: 14px;
  }

  .ua .qa-acknowledge__first-answer-community-wrapper {
    width: 100%;
  }

  .qa-acknowledge__first-answer-wrapper {
    margin-bottom: 30px;
  }

  .qa-acknowledge__first-answer-content {
    padding: 15px 17px 15px 25px;
    overflow: hidden;
    box-shadow: none;
  }

  .qa-acknowledge__first-answer-text {
    font-size: 14px;
    line-height: 18px;
  }

  .qa-acknowledge__first-answer-text:nth-of-type(1) {
    margin-bottom: 18px;
  }

  .qa-acknowledge__first-answer-text:nth-of-type(2) {
    margin-bottom: 18px;
  }

  .qa-acknowledge__first-answer-text:nth-of-type(3) {
    margin-bottom: 18px;
    max-width: 253px;
  }

  .qa-acknowledge__first-answer-text:nth-of-type(4) {
    margin-bottom: 23px;
  }

  .qa-acknowledge__first-answer-community-button-wrapper {
    max-width: 268px;
    margin-bottom: 7px;
  }

  .qa-acknowledge__first-answer-community-button {
    max-width: 267px;
    padding: 12px 53px 6px 51px;
    transform: translate(4px, -5px);
  }

  .en .qa-acknowledge__first-answer-community-button {
    padding: 15px 31px 9px 22px;
  }

  .qa-acknowledge__first-answer-community-counter-wrapper {
    left: 0;
  }

  .qa-acknowledge__second-question-wrapper {
    margin-bottom: 32px;
  }

  .qa-acknowledge__second-question-text {
    max-width: 269px;
    padding: 13px 25px 13px 25px;
    font-size: 13px;
    line-height: 14px;
    box-shadow: none;
  }

  .qa-acknowledge__second-answer-wrapper {
    margin-bottom: 0;
  }

  .qa-acknowledge__second-answer-content {
    padding: 15px 19px 24px 25px;
    max-width: 315px;
    box-shadow: none;
  }

  .qa-acknowledge__second-answer-text {
    margin-bottom: 15px;
    font-size: 16px;
    line-height: 18px;
  }

  .qa-acknowledge__second-answer_experience-column:nth-of-type(1),
  .qa-acknowledge__second-answer_experience-column:nth-of-type(2),
  .qa-acknowledge__second-answer_experience-column:nth-of-type(3) {
    width: 100%;
    margin: 0;
  }

  .qa-acknowledge__second-answer_experience-column:nth-of-type(3) {
    padding-left: 1px;
  }

  .qa-acknowledge__second-answer_experience-text {
    font-size: 13px;
    line-height: 18px;
  }

  .qa-acknowledge__second-answer_experience-wrapper-1 {
    width: 100%;
    height: 100%;
    padding: 7px 14px 8px 60px;
    margin-bottom: 9px;
    /* background: url('../assets/img/acknowledgePictures/qaAcknowledgeTeamExperienceBGMobile-1.png')
      no-repeat; */
      background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  .qa-acknowledge__second-answer_experience-wrapper-2 {
    width: 100%;
    height: 100%;
    padding: 9px 42px 6px 60px;
    margin-bottom: 9px;
    /* background: url('../assets/img/acknowledgePictures/qaAcknowledgeTeamExperienceBGMobile-2.png')
      no-repeat; */
      background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  .qa-acknowledge__second-answer_experience-wrapper-3 {
    width: 100%;
    height: 100%;
    padding: 9px 0px 11px 60px;
    margin-bottom: 9px;
    /* background: url('../assets/img/acknowledgePictures/qaAcknowledgeTeamExperienceBGMobile-3.png')
      no-repeat; */
      background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  .qa-acknowledge__second-answer_experience-wrapper-4 {
    width: 100%;
    height: 100%;
    padding: 9px 0px 2px 59px;
    /* background: url('../assets/img/acknowledgePictures/qaAcknowledgeTeamExperienceBGMobile-4.png')
      no-repeat; */
      background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  .qa-acknowledge__second-answer_experience-custom-wrapper {
    margin-bottom: 9px;
  }

  .qa-acknowledge__second-answer_experience-wrapper-5 {
    width: 100%;
    height: 100%;
    padding: 8px 0 8px 60px;
    margin-bottom: 9px;
    /* background: url('../assets/img/acknowledgePictures/qaAcknowledgeTeamExperienceBGMobile-5.png')
      no-repeat; */
      background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  .qa-acknowledge__second-answer_experience-wrapper-5
    .qa-acknowledge__second-answer_experience-text:nth-of-type(1) {
    margin-bottom: 18px;
  }

  .qa-acknowledge__second-answer_experience-wrapper-6 {
    width: 100%;
    height: 100%;
    padding: 9px 0 11px 59px;
    margin-bottom: 9px;
    /* background: url('../assets/img/acknowledgePictures/qaAcknowledgeTeamExperienceBGMobile-6.png')
      no-repeat; */
      background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  .qa-acknowledge__second-answer_experience-wrapper-6
    .qa-acknowledge__second-answer_experience-text:nth-of-type(1) {
    margin-bottom: 18px;
  }

  .en
    .qa-acknowledge__second-answer_experience-wrapper-6
    .qa-acknowledge__second-answer_experience-text:nth-of-type(2) {
    max-width: 171px;
  }

  .qa-acknowledge__second-answer_experience-wrapper-6
    .qa-acknowledge__second-answer_experience-text:nth-of-type(2) {
    max-width: 171px;
  }

  .qa-acknowledge__second-answer_experience-wrapper-7 {
    width: 100%;
    height: 100%;
    padding: 8px 0px 8px 59px;
    /* background: url('../assets/img/acknowledgePictures/qaAcknowledgeTeamExperienceBGMobile-7.png')
      no-repeat; */
      background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  .en
    .qa-acknowledge__second-answer_experience-wrapper-7
    .qa-acknowledge__second-answer_experience-text {
    max-width: 200px;
  }

  .qa-acknowledge__second-answer_experience {
    position: relative;
    margin-bottom: 56px;
  }

  .qa-acknowledge__second-answer_team-img {
    width: 100%;
    height: auto;
  }

  .qa-acknowledge__second-answer_team-figure {
    width: 129px;
  }

  .qa-acknowledge__second-answer_team-swiper {
    display: flex;
    flex-wrap: no-wrap;
  }

  #team {
    display: block;
  }

  .qa-acknowledge__second-answer_team-mobile {
    display: flex;
    gap: 0;
    overflow: hidden;
  }

  .qa-acknowledge__second-answer_experience::after {
    content: '';
    position: absolute;
    bottom: -40px;
    right: 0px;
    width: 19px;
    height: 19px;
    background: url('../assets/img/acknowledgePictures/qaAcknowledgeSwiperPointer.svg') no-repeat;
  }

  .qa-acknowledge__first-answer-text-wrapper-desktop,
  .qa-acknowledge__second-answer_experience-text-desktop,
  .qa-acknowledge__second-answer_team-desktop,
  .qa-acknowledge__second-answer-text-desktop {
    display: none;
  }

  .qa-acknowledge__first-answer-text-wrapper-mobile,
  .qa-acknowledge__second-answer_experience-text-mobile,
  .qa-acknowledge__second-answer-text-mobile {
    display: block;
  }
}
