.qa-common-issues {
  padding: 0 26px 0 26px;
}

.qa-common-issues__wrapper {
  padding: 70px 113px 31px 113px;
  border-radius: 25px;
  /* background: url('../assets/img/qaCommonIssuesBG.png') no-repeat; */
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.qa-common-issues__first-question-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-bottom: 24px;
}

.qa-common-issues__first-question-text {
  max-width: 637px;
  padding: 24px 35px 26px 35px;
  background-color: rgba(65, 60, 178, 1);
  box-shadow: 0px 0px 45px 0px rgba(255, 231, 12, 0.58);
  border-radius: 19.65px 19px 19.65px 0.85px;
  font-family: Wadik;
  font-size: 24px;
  font-weight: 700;
  line-height: 27px;
}

.qa-common-issues__first-question-avatar {
  margin-left: 10px;
}

.qa-common-issues__first-answer-wrapper {
  display: flex;
  align-items: flex-end;
  margin-bottom: 24px;
}

.qa-common-issues__first-answer-owner-avatar {
  margin-right: 10px;
}

.qa-common-issues__first-answer-text {
  max-width: 793px;
  padding: 25px 35px 25px 35px;
  background-color: rgba(28, 25, 91, 1);
  box-shadow: 0px 0px 45px 0px rgba(22, 115, 255, 0.58);
  border-radius: 19.65px 19px 19.65px 0.85px;
  font-family: Bicubik;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
}

.en .qa-common-issues__first-answer-text {
  max-width: 793px;
  padding: 25px 20px 25px 35px;
  background-color: rgba(28, 25, 91, 1);
  box-shadow: 0px 0px 45px 0px rgba(22, 115, 255, 0.58);
  border-radius: 19.65px 19px 19.65px 0.85px;
  font-family: Bicubik;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
}

.qa-common-issues__second-answer-wrapper {
  display: flex;
  align-items: flex-end;
  margin-bottom: 24px;
}

.qa-common-issues__second-answer-owner-avatar {
  margin-right: 10px;
}

.qa-common-issues__second-answer-content {
  width: 100%;
  max-width: 1049px;
  padding: 25px 35px 23px 35px;
  background-color: rgba(28, 25, 91, 1);
  box-shadow: 0px 0px 45px 0px rgba(22, 115, 255, 0.58);
  border-radius: 19.65px 19px 19.65px 0.85px;
}

.qa-common-issues__second-answer-item {
  margin-bottom: 24px;
}

.qa-common-issues__second-answer-question-wrapper {
  display: flex;
  padding-left: 13px;
  margin-bottom: 15px;
  font-family: Geologica;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
}

.qa-common-issues__second-answer-question-counter {
  position: relative;
  margin-right: 15px;
  width: fit-content;
  height: fit-content;
  padding: 12px 17px 13px 29px;
  background-color: rgba(41, 67, 222, 1);
  border-radius: 6px;
  white-space: nowrap;
}

.qa-common-issues__second-answer-question-counter::before {
  content: '';
  position: absolute;
  top: 4px;
  left: -13px;
  width: 32px;
  height: 37px;
  background: url('../assets/img/headerCardWarningExclamationMark.png') no-repeat;
}

.qa-common-issues__second-answer-item:nth-of-type(2)
  .qa-common-issues__second-answer-question-counter {
  padding: 12px 15px 12px 29px;
}

.qa-common-issues__second-answer-item:nth-of-type(3)
  .qa-common-issues__second-answer-question-counter {
  padding: 12px 15px 12px 29px;
}

.qa-common-issues__second-answer-item:nth-of-type(4)
  .qa-common-issues__second-answer-question-counter {
  padding: 12px 14px 13px 29px;
}

.qa-common-issues__second-answer-item:nth-of-type(5)
  .qa-common-issues__second-answer-question-counter {
  padding: 12px 15px 12px 29px;
}

.qa-common-issues__second-answer-item:nth-of-type(6)
  .qa-common-issues__second-answer-question-counter {
  padding: 12px 14px 13px 29px;
}

.qa-common-issues__second-answer-item:nth-of-type(7)
  .qa-common-issues__second-answer-question-counter {
  padding: 12px 15px 12px 29px;
}

.qa-common-issues__second-answer-question-text {
  padding-top: 12px;
}

.qa-common-issues__second-answer-question-answer {
  font-family: Geologica;
  font-size: 18px;
  font-weight: 250;
  line-height: 23px;
  text-align: left;
}

.qa-common-issues__second-answer-item:nth-of-type(4)
  .qa-common-issues__second-answer-question-answer {
  max-width: 815px;
}

.qa-common-issues__second-answer-item:nth-of-type(5)
  .qa-common-issues__second-answer-question-answer {
  max-width: 830px;
}

.qa-common-issues__second-answer-item:nth-of-type(6)
  .qa-common-issues__second-answer-question-answer:nth-of-type(1) {
  max-width: 880px;
  margin-bottom: 23px;
}

.qa-common-issues__second-answer-item:nth-of-type(7)
  .qa-common-issues__second-answer-question-answer {
  max-width: 835px;
}

.qa-common-issues__community-wrapper {
  margin-bottom: 0;
}

.qa-common-issues__community-counter-wrapper {
  padding: 12px 10px 14px 27px;
}

.qa-common-issues__community-counter-counter {
  top: 0px;
}

.qa-common-issues__second-answer-question-text-desktop,
.qa-common-issues__second-answer-question-answer-desktop {
  display: block;
}

.qa-common-issues__second-answer-question-text-mobile,
.qa-common-issues__second-answer-question-answer-mobile {
  display: none;
}

@media (max-width: 1100px) {
  .qa-common-issues__wrapper {
    padding: 70px 50px 31px 70px;
  }

  .qa-common-issues__first-answer-text,
  .qa-common-issues__second-answer-wrapper {
    max-width: 700px;
  }
}

@media (max-width: 1000px) {
  .qa-common-issues__first-question-text {
    max-width: 463px;
  }

  .qa-common-issues__first-answer-text,
  .qa-common-issues__second-answer-wrapper {
    max-width: 550px;
  }
}

@media (max-width: 830px) {
  .qa-common-issues__wrapper {
    padding: 70px 25px 31px 25px;
  }
}

@media (max-width: 680px) {
  .qa-common-issues__first-question-text,
  .qa-common-issues__second-question-text {
    max-width: 360px;
  }
}

@media (max-width: 590px) {
  .qa-common-issues {
    padding: 0 7px 0 6px;
  }

  .qa-common-issues__wrapper {
    padding: 35px 8px 35px 6px;
    border-radius: 15px;
    /* background-image: url('../assets/img/qaCommonIssuesBGMobile.png'); */
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  .qa-common-issues__container {
    margin: 0 auto;
    max-width: 363px;
  }

  .qa-common-issues__first-question-wrapper {
    margin-bottom: 8px;
    padding-right: 2px;
  }

  .qa-common-issues__first-question-text {
    max-width: 223px;
    padding: 13px 15px 13px 25px;
    font-size: 13px;
    line-height: 14px;
  }

  .en .qa-common-issues__first-question-text {
    max-width: 270px;
    padding: 13px 15px 13px 25px;
    font-size: 13px;
    line-height: 14px;
  }

  .qa-common-issues__first-answer-wrapper {
    margin-bottom: 8px;
    padding-left: 6px;
  }

  .qa-common-issues__first-answer-owner-avatar {
    margin-right: 4px;
  }

  .qa-common-issues__first-answer-text {
    max-width: 272px;
    padding: 16px 15px 14px 25px;
    box-shadow: none;
    font-size: 12px;
    line-height: 16px;
  }

  .en .qa-common-issues__first-answer-text {
    max-width: 272px;
    padding: 16px 15px 14px 25px;
    box-shadow: none;
    font-size: 12px;
    line-height: 16px;
  }

  .qa-common-issues__second-answer-wrapper {
    padding-left: 6px;
    max-width: 363px;
    margin-bottom: 0;
  }

  .qa-common-issues__second-answer-owner-avatar {
    margin-right: 4px;
  }

  .qa-common-issues__second-answer-content {
    padding: 15px 15px 14px 25px;
    overflow: hidden;
    box-shadow: none;
  }

  .qa-common-issues__second-answer-item {
    margin-bottom: 30px;
  }

  .qa-common-issues__second-answer-list {
    margin-bottom: 24px;
  }

  .qa-common-issues__second-answer-item:last-of-type {
    margin-bottom: 0;
  }

  .qa-common-issues__second-answer-question-wrapper {
    padding-left: 0px;
    margin-bottom: 5px;
    flex-direction: column;
  }

  .qa-common-issues__second-answer-question-counter {
    left: 13px;
    padding: 6px 12px 5px 19px;
    margin: 0 0 3px 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
  }

  .qa-common-issues__second-answer-question-counter::before {
    top: 2px;
    width: 22px;
    height: 25px;
    background: url('../assets/img/headerCardWarningExclamationMarkMobile.png') no-repeat;
  }

  .qa-common-issues__second-answer-question-text {
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
  }

  .qa-common-issues__second-answer-item:nth-of-type(2)
    .qa-common-issues__second-answer-question-counter {
    padding: 6px 9px 5px 19px;
  }

  .qa-common-issues__second-answer-item:nth-of-type(3)
    .qa-common-issues__second-answer-question-counter {
    padding: 6px 10px 5px 19px;
  }

  .qa-common-issues__second-answer-item:nth-of-type(4)
    .qa-common-issues__second-answer-question-counter {
    padding: 6px 9px 5px 19px;
  }

  .qa-common-issues__second-answer-item:nth-of-type(5)
    .qa-common-issues__second-answer-question-counter {
    padding: 6px 9px 5px 19px;
  }

  .qa-common-issues__second-answer-item:nth-of-type(6)
    .qa-common-issues__second-answer-question-counter {
    padding: 6px 9px 5px 19px;
  }

  .qa-common-issues__second-answer-item:nth-of-type(6)
    .qa-common-issues__second-answer-question-counter {
    padding: 6px 9px 5px 19px;
  }

  .qa-common-issues__second-answer-item:nth-of-type(7)
    .qa-common-issues__second-answer-question-counter {
    padding: 6px 10px 5px 19px;
  }

  .qa-common-issues__second-answer-question-answer {
    font-size: 14px;
    font-weight: 200;
    line-height: 18px;
  }

  .qa-common-issues__second-answer-item:nth-of-type(6)
    .qa-common-issues__second-answer-question-answer:nth-of-type(1) {
    margin-bottom: 18px;
  }

  .qa-common-issues__community-counter-wrapper {
    padding: 9px 11px 12px 20px;
    max-width: 272px;
  }

  .qa-common-issues__second-answer-question-text-desktop,
  .qa-common-issues__second-answer-question-answer-desktop {
    display: none;
  }

  .qa-common-issues__second-answer-question-text-mobile,
  .qa-common-issues__second-answer-question-answer-mobile {
    display: block;
  }
}
