.qa-investments {
  padding: 0 26px 0 26px;
  margin-bottom: 25px;
}

.qa-investments__wrapper {
  padding: 70px 108px 55px 113px;
  border-radius: 25px;
  background: url('../assets/img/qaInvestmentsBG.png') no-repeat;
  background-size: 100% 100%;
}

.qa-investments__first-answer-wrapper {
  display: flex;
  align-items: flex-end;
  margin-bottom: 24px;
}

.qa-investments__first-answer-owner-avatar {
  margin-right: 10px;
}

.qa-investments__first-answer-content {
  max-width: 627px;
  padding: 25px 35px 25px 35px;
  background-color: #1c195b;
  box-shadow: 0px 0px 45px 0px rgba(76, 100, 243, 1);
  border-radius: 19.65px 19px 19.65px 0.85px;
}

.qa-investments__first-answer-text {
  font-family: Wadik;
  font-size: 24px;
  font-weight: 700;
  line-height: 26.9px;
}

.qa-investments__first-answer-text:nth-of-type(3) {
  margin-bottom: 25px;
}

.qa-investments__first-answer-list {
  padding: 26px 10px 18px 86px;

  background: url('../assets/img/qaInvestmentsFirstAnswerListBG.png') no-repeat;
  background-size: 100% 100%;
}

.qa-investments__first-answer-item:nth-of-type(1) {
  margin-bottom: 8px;
}

.qa-investments__first-answer-item:nth-of-type(2) {
  margin-bottom: 5px;
}

.qa-investments__first-answer-item-text {
  position: relative;
  font-family: Geologica;
  font-size: 18px;
  font-weight: 250;
  line-height: 23px;
}

.qa-investments__first-answer-item:not(:first-child) .qa-investments__first-answer-item-text {
  padding-left: 1px;
}

.qa-investments__first-answer-item:nth-of-type(1) .qa-investments__first-answer-item-text::before {
  content: '';
  position: absolute;
  top: -4px;
  left: -45px;
  width: 30px;
  height: 30px;
  background: url('../assets/img/svg/qaInvestmentsTime.svg') no-repeat;
}

.qa-investments__first-answer-item:nth-of-type(2) .qa-investments__first-answer-item-text::before {
  content: '';
  position: absolute;
  top: 0;
  left: -45px;
  width: 31px;
  height: 31px;
  background: url('../assets/img/svg/qaInvestmentsLaptop.svg') no-repeat;
}

.qa-investments__first-answer-item:nth-of-type(3) .qa-investments__first-answer-item-text::before {
  content: '';
  position: absolute;
  top: 7px;
  left: -45px;
  width: 31px;
  height: 31px;
  background: url('../assets/img/svg/qaInvestmentsDoubleCheckmark.svg') no-repeat;
}

.qa-investments__first-question-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-bottom: 51px;
}

.qa-investments__first-question-text {
  padding: 25px 35px 26px 35px;
  background-color: #413cb2;
  box-shadow: 0px 0px 45px 0px rgba(255, 231, 12, 0.58);
  border-radius: 19.65px 19px 19.65px 0.85px;
  font-family: Wadik;
  font-size: 24px;
  font-weight: 700;
  line-height: 26px;
}

.qa-investments__first-question-avatar {
  margin-left: 10px;
}

.qa-investments__second-answer-wrapper {
  display: flex;
  align-items: flex-end;
  margin-bottom: 38px;
}

.qa-investments__second-answer-owner-avatar {
  margin-right: 10px;
}

.qa-investments__second-answer-content {
  width: 100%;
  max-width: 694px;
  padding: 25px 35px 25px 35px;
  background-color: #1c195b;
  box-shadow: 0px 0px 45px 0px rgba(76, 100, 243, 0.58);
  border-radius: 19.65px 19px 19.65px 0.85px;
}

.qa-investments__second-answer-heading {
  margin-bottom: 16px;
  font-family: Wadik;
  font-size: 24px;
  font-weight: 700;
  line-height: 26px;
}

.qa-investments__second-answer-text {
  max-width: 550px;
  font-family: Geologica;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
}

.qa-investments__second-question-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-bottom: 24px;
}

.qa-investments__second-question-text {
  max-width: 621px;
  padding: 24px 35px 26px 35px;
  background-color: #413cb2;
  box-shadow: 0px 0px 45px 0px rgba(255, 231, 12, 0.58);
  border-radius: 19.65px 19px 19.65px 0.85px;
  font-family: Wadik;
  font-size: 24px;
  font-weight: 700;
  line-height: 27px;
}

.qa-investments__second-question-avatar {
  margin-left: 10px;
}

.qa-investments__third-answer-wrapper {
  display: flex;
  align-items: flex-end;
  margin-bottom: 24px;
}

.qa-investments__third-answer-owner-avatar {
  margin-right: 10px;
}

.qa-investments__third-answer-text {
  width: 100%;
  max-width: 694px;
  padding: 25px 10px 25px 35px;
  background-color: #1c195b;
  box-shadow: 0px 0px 45px 0px rgba(22, 115, 255, 0.58);
  border-radius: 19.65px 19px 19.65px 0.85px;
  font-family: Geologica;
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px;
}

.qa-investments__third-question-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-bottom: 24px;
}

.qa-investments__third-question-text {
  max-width: 656px;
  padding: 25px 35px 26px 35px;
  background-color: #413cb2;
  border-radius: 19.65px 19px 19.65px 0.85px;
  box-shadow: 0px 0px 45px 0px rgba(255, 231, 12, 0.58);
  font-family: Wadik;
  font-size: 24px;
  font-weight: 700;
  line-height: 26.54px;
}

.qa-investments__third-question-avatar {
  margin-left: 10px;
}

.qa-investments__fourth-answer-wrapper {
  display: flex;
  align-items: flex-end;
}

.qa-investments__fourth-answer-owner-avatar {
  margin-right: 10px;
}

.qa-investments__fourth-answer-content {
  max-width: 627px;
  padding: 25px 35px 25px 35px;
  background-color: #1c195b;
  box-shadow: 0px 0px 45px 0px rgba(22, 115, 255, 0.59);
  border-radius: 19.65px 19px 19.65px 0.85px;
}

.qa-investments__fourth-answer-list {
  padding: 22px 10px 21px 79px;
  background: url('../assets/img/qaInvestmentsFourthAnswerListBG.png') no-repeat;
  background-size: 100% 100%;
}

.qa-investments__fourth-answer-item:nth-of-type(1) {
  margin-bottom: 10px;
}

.qa-investments__fourth-answer-item:nth-of-type(2) {
  margin-bottom: 10px;
}

.qa-investments__fourth-answer-text {
  position: relative;
  font-family: Geologica;
  font-size: 18px;
  font-weight: 250;
  line-height: 23px;
}

.qa-investments__fourth-answer-item .qa-investments__fourth-answer-text::before {
  content: '';
  position: absolute;
  top: -1px;
  left: -38px;
  width: 24px;
  height: 18px;
  background: url('../assets/img/svg/headerCardCheckmark.svg') no-repeat;
}

.qa-investments__fourth-answer-list-desktop {
  display: block;
}

.qa-investments__fourth-answer-list-mobile {
  display: none;
}

@media (max-width: 1100px) {
  .qa-investments__wrapper {
    padding: 70px 50px 55px 70px;
  }

  .qa-investments__first-answer-wrapper,
  .qa-investments__second-answer-wrapper,
  .qa-investments__third-answer-wrapper,
  .qa-investments__fourth-answer-wrapper {
    max-width: 700px;
  }

  .qa-dialog-investments__item_third-answer-list {
    padding: 21px 15px 7px 61px;
  }
}

@media (max-width: 1000px) {
  .qa-investments__first-question-text,
  .qa-investments__second-question-text,
  .qa-investments__third-question-text {
    max-width: 463px;
  }

  .qa-investments__first-answer-wrapper,
  .qa-investments__second-answer-wrapper,
  .qa-investments__third-answer-wrapper,
  .qa-investments__fourth-answer-wrapper {
    max-width: 550px;
  }
}

@media (max-width: 830px) {
  .qa-investments__wrapper {
    padding: 70px 25px 55px 25px;
  }

  .qa-investments__first-answer-list {
    padding: 22px 15px 16px 73px;
  }

  .qa-investments__first-answer-content {
    padding: 25px 15px 26px 15px;
  }

  .qa-investments__first-answer-text {
    text-align: center;
  }

  .qa-investments__second-question-text {
    padding: 24px 40px 26px 35px;
  }

  .qa-investments__first-answer-wrapper,
  .qa-investments__second-answer-wrapper,
  .qa-investments__third-answer-wrapper,
  .qa-investments__fourth-answer-wrapper {
    max-width: 430px;
  }
}

@media (max-width: 680px) {
  .qa-investments__first-question-text,
  .qa-investments__second-question-text,
  .qa-investments__third-question-text {
    max-width: 360px;
  }
}

@media (max-width: 590px) {
  .qa-investments {
    padding: 0 7px 0 6px;
    margin-bottom: 25px;
  }

  .qa-investments__wrapper {
    padding: 35px 8px 35px 6px;
    border-radius: 15px;
    background: url('../assets/img/qaInvestmentsBGMobile.png') no-repeat;
    background-size: 100% 100%;
  }

  .qa-investments__container {
    margin: 0 auto;
    max-width: 363px;
  }

  .qa-investments__first-answer-wrapper {
    margin-bottom: 22px;
  }

  .qa-investments__first-answer-content {
    width: 100%;
    padding: 15px 20px 15px 25px;
    box-shadow: none;
  }

  .qa-investments__first-answer-text:nth-of-type(3) {
    margin-bottom: 15px;
  }

  .qa-investments__first-answer-text {
    max-width: 270px;
    font-size: 16px;
    line-height: 18px;
    text-align: left;
  }

  .qa-investments__first-answer-list {
    padding: 14px 15px 16px 52px;
    background: url('../assets/img/qaInvestmentsFirstAnswerListBGMobile.png') no-repeat;
    background-size: 100% 100%;
  }

  .qa-investments__first-answer-item:nth-of-type(1) {
    margin-bottom: 5px;
  }

  .qa-investments__first-answer-item-text {
    max-width: 200px;
    font-size: 14px;
    line-height: 18px;
  }

  .qa-investments__first-answer-item:not(:first-child) .qa-investments__first-answer-item-text {
    padding-left: 0;
  }

  .qa-investments__first-answer-item:nth-of-type(1) .qa-investments__first-answer-item-text::before,
  .qa-investments__first-answer-item:nth-of-type(2) .qa-investments__first-answer-item-text::before,
  .qa-investments__first-answer-item:nth-of-type(3)
    .qa-investments__first-answer-item-text::before {
    top: 0px;
    left: -34px;
    width: 19px;
    height: 19px;
    background-size: contain;
  }

  .qa-investments__first-question-wrapper {
    padding-right: 2px;
    margin-bottom: 22px;
  }

  .qa-investments__first-question-text {
    max-width: 224px;
    padding: 13px 25px 13px 25px;
    box-shadow: none;
  }

  .qa-investments__second-answer-wrapper {
    padding-left: 6px;
    margin-bottom: 22px;
  }

  .qa-investments__second-answer-owner-avatar {
    margin-right: 4px;
  }

  .qa-investments__second-answer-content {
    padding: 15px 30px 15px 25px;
    box-shadow: none;
  }

  .qa-investments__second-answer-heading {
    margin-bottom: 15px;
    font-size: 16px;
    line-height: 18px;
  }

  .qa-investments__second-answer-text {
    font-size: 14px;
    line-height: 18px;
  }

  .qa-investments__second-question-wrapper {
    margin-bottom: 22px;
  }

  .qa-investments__second-question-text {
    max-width: 283px;
    padding: 13px 29px 13px 25px;
    box-shadow: none;
  }

  .qa-investments__third-answer-wrapper,
  .qa-investments__third-question-wrapper {
    display: none;
  }

  .qa-investments__fourth-answer-content {
    padding: 15px 19px 24px 25px;
    box-shadow: none;
  }

  .qa-investments__fourth-answer-list {
    padding: 14px 20px 17px 47px;
    background: url('../assets/img/qaInvestmentsFourthAnswerListBGMobile.png') no-repeat;
    background-size: 100% 100%;
  }

  .qa-investments__fourth-answer-item:nth-of-type(1),
  .qa-investments__fourth-answer-item:nth-of-type(2) {
    margin-bottom: 5px;
}

  .qa-investments__fourth-answer-text {
    font-size: 14px;
    line-height: 18px;
  }

  .qa-investments__fourth-answer-item .qa-investments__fourth-answer-text::before {
    top: 4px;
    left: -22px;
    width: 13px;
    height: 10px;
    background-size: contain;
  }

  .qa-investments__first-question-text,
  .qa-investments__second-question-text,
  .qa-investments__third-question-text {
    font-size: 13px;
    line-height: 14px;
  }

  .qa-investments__fourth-answer-list-desktop {
    display: none;
  }

  .qa-investments__fourth-answer-list-mobile {
    display: block;
  }
}
