.qa-income {
  padding: 0 26px 0 26px;
  margin-bottom: 25px;
}

.qa-income__wrapper {
  padding: 70px 105px 45px 113px;
  border-radius: 22.27px;
  background: url('../assets/img/qaIncomeBG.png') no-repeat;
  background-size: 100% 100%;
}

.qa-income__first-question-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-bottom: 25px;
}

.qa-income__first-question-text {
  width: 100%;
  max-width: 706px;
  padding: 25px 10px 26px 35px;
  background: rgba(65, 60, 178, 1);
  box-shadow: 0px 0px 45px 0px rgba(255, 231, 12, 0.58);
  border-radius: 19.65px 19px 19.65px 0.85px;
  font-family: Wadik;
  font-size: 24px;
  font-weight: 700;
  line-height: 26.54px;
}

.qa-income__first-question-avatar {
  margin-left: 10px;
}

.qa-income__first-answer-wrapper {
  display: flex;
  align-items: flex-end;
  margin-bottom: 25px;
}

.qa-income__first-answer-owner-avatar {
  margin-right: 10px;
}

.qa-income__first-answer-content {
  width: 100%;
  max-width: 642px;
  padding: 25px 35px 25px 35px;
  background: rgba(28, 25, 91, 1);
  box-shadow: 0px 0px 45px 0px rgba(255, 231, 12, 0.58);
  border-radius: 19.65px 19px 19.65px 0.85px;
  font-family: Geologica;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
}

.qa-income__first-answer-text:nth-of-type(1) {
  margin-bottom: 23px;
}

.qa-income__first-answer-text:nth-of-type(2) {
  margin-bottom: 25px;
}

.qa-income__first-answer-card-wrapper {
  padding: 22px 10px 20px 66px;
  background: url('../assets/img/qaIncomeFirstAnswerCardBG.png') no-repeat;
  background-size: 100% 100%;
}

.qa-income__first-answer-card-text:nth-of-type(1) {
  position: relative;
  margin-bottom: 23px;
}

.qa-income__first-answer-card-text:nth-of-type(1)::before {
  content: '';
  position: absolute;
  top: 3px;
  left: -41px;
  width: 24px;
  height: 24px;
  background: url('../assets/img/svg/whyUsSecondAnswerDollarSign.svg') no-repeat;
}

.qa-income__first-answer-card-text:nth-of-type(2) {
  max-width: 400px;
  color: #1c195b;
}

.qa-income__second-question-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-bottom: 25px;
}

.qa-income__second-question-text {
  max-width: 759px;
  padding: 25px 35px 25px 35px;
  background: rgba(65, 60, 178, 1);
  box-shadow: 0px 0px 45px 0px rgba(255, 231, 12, 0.58);

  border-radius: 19.65px 19px 19.65px 0.85px;
  font-family: Wadik;
  font-size: 24px;
  font-weight: 700;
  line-height: 26.54px;
}

.qa-income__second-question-avatar {
  margin-left: 10px;
}

.qa-income__second-answer-wrapper {
  display: flex;
  align-items: flex-end;
  margin-bottom: 25px;
}

.qa-income__second-answer-owner-avatar {
  margin-right: 10px;
}

.qa-income__second-answer-content {
  width: 100%;
  max-width: 651px;
  padding: 25px 35px 25px 35px;
  background: rgba(28, 25, 91, 1);
  box-shadow: 0px 0px 45px 0px rgba(255, 231, 12, 0.58);
  border-radius: 19.65px 19px 19.65px 0.85px;
}

.qa-income__second-answer-text {
  font-family: Geologica;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
}

.qa-income__second-answer-text:nth-of-type(1) {
  margin-bottom: 23px;
}

.qa-income__first-answer-content-desktop {
  display: block;
}

.qa-income__first-answer-content-mobile {
  display: none;
}

@media (max-width: 1100px) {
  .qa-income__wrapper {
    padding: 70px 50px 45px 70px;
  }

  .qa-income__first-answer-wrapper,
  .qa-income__second-answer-wrapper {
    max-width: 700px;
  }
}

@media (max-width: 1000px) {
  .qa-income__first-question-text,
  .qa-income__second-question-text {
    max-width: 463px;
  }

  .qa-income__first-answer-wrapper,
  .qa-income__second-answer-wrapper {
    max-width: 550px;
  }
}

@media (max-width: 830px) {
  .qa-income__wrapper {
    padding: 70px 25px 45px 25px;
  }

  .qa-income__first-answer-wrapper,
  .qa-income__second-answer-wrapper {
    max-width: 430px;
  }
}

@media (max-width: 680px) {
  .qa-income__first-question-text,
  .qa-income__second-question-text {
    max-width: 360px;
  }
}

@media (max-width: 590px) {
  .qa-income {
    padding: 0 7px 0 6px;
  }

  .qa-income__wrapper {
    padding: 30px 8px 42px 12px;
    border-radius: 15px;
    background: url('../assets/img/qaIncomeBGMobile.png') no-repeat;
    background-size: 100% 100%;
  }

  .qa-income__container {
    margin: 0 auto;
    max-width: 357px;
  }

  .qa-income__first-question-wrapper {
    margin-bottom: 22px;
  }

  .qa-income__first-question-text {
    max-width: 226px;
    padding: 13px 0 13px 25px;
    font-size: 13px;
    line-height: 14px;
  }

  .en .qa-income__first-question-text {
    max-width: 260px;
    padding: 13px 0 13px 25px;
    font-size: 13px;
    line-height: 14px;
  }

  .qa-income__first-answer-wrapper {
    margin-bottom: 22px;
  }

  .qa-income__first-answer-content {
    padding: 15px 12px 15px 25px;
    box-shadow: none;
    font-size: 14px;
    line-height: 18px;
  }

  .qa-income__first-answer-text:nth-of-type(1) {
    margin-bottom: 18px;
  }

  .qa-income__first-answer-text:nth-of-type(2) {
    margin-bottom: 15px;
  }

  .qa-income__first-answer-card-wrapper {
    padding: 13px 10px 13px 36px;
    background: url('../assets/img/qaIncomeFirstAnswerCardBGMobile.png') no-repeat;
    background-size: 100% 100%;
  }

  .qa-income__first-answer-card-text:nth-of-type(1) {
    margin-bottom: 18px;
  }

  .qa-income__first-answer-card-text:nth-of-type(1)::before {
    top: 1px;
    left: -25px;
    width: 19px;
    height: 19px;
    background-size: contain;
  }

  .qa-income__first-answer-card-text:nth-of-type(2) {
    max-width: 200px;
  }

  .qa-income__second-question-wrapper {
    margin-bottom: 22px;
  }

  .qa-income__second-question-text {
    max-width: 257px;
    padding: 13px 25px 13px 25px;
    font-size: 13px;
    line-height: 14px;
  }

  .qa-income__second-answer-wrapper {
    margin-bottom: 0;
  }

  .qa-income__second-answer-content {
    padding: 15px 35px 15px 25px;
    box-shadow: none;
  }

  .qa-income__second-answer-text {
    font-size: 14px;
    line-height: 18px;
  }

  .qa-income__second-answer-text:nth-of-type(1) {
    margin-bottom: 18px;
  }

  .qa-income__first-answer-owner-avatar,
  .qa-income__second-answer-owner-avatar {
    margin-right: 4px;
  }

  .qa-income__first-answer-content-desktop {
    display: none;
  }

  .qa-income__first-answer-content-mobile {
    display: block;
  }
}
