.qa-team {
  padding: 0 26px 0 26px;
  margin-bottom: 25px;
}

.qa-team__wrapper {
  padding: 70px 105px 70px 113px;
  border-radius: 25px;
  /* background: url('../assets/img/qaTeamBG.png') no-repeat; */
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.qa-team__first-question-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-bottom: 24px;
}

.qa-team__first-question-text {
  max-width: 784px;
  padding: 25px 35px 26px 35px;
  background-color: rgba(65, 60, 178, 1);
  box-shadow: 0px 0px 45px 0px rgba(255, 231, 12, 0.58);
  border-radius: 19.65px 19px 19.65px 0.85px;
  font-family: Wadik;
  font-size: 24px;
  font-weight: 700;
  line-height: 26.54px;
}

.qa-team__first-question-avatar {
  margin-left: 10px;
}

.qa-team__first-answer-wrapper {
  display: flex;
  align-items: flex-end;
  margin-bottom: 24px;
}

.qa-team__first-answer-owner-avatar {
  margin-right: 10px;
}

.qa-team__first-answer-list {
  max-width: 784px;
  padding: 25px 15px 25px 35px;
  background-color: rgba(28, 25, 91, 1);
  box-shadow: 0px 0px 45px 0px rgba(22, 115, 255, 0.58);
  border-radius: 19.65px 19px 19.65px 0.85px;
}

.qa-team__first-answer-item:not(:last-child) {
  margin-bottom: 24px;
}

.qa-team__first-answer-step {
  position: relative;
  left: 13px;
  margin-bottom: 15px;
  background-color: rgba(41, 67, 222, 1);
  width: fit-content;
  padding: 12px 18px 13px 29px;
  border-radius: 6px;
  font-family: Geologica;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
}

.qa-team__first-answer-step::before {
  content: '';
  position: absolute;
  top: 4px;
  left: -13px;
  width: 32px;
  height: 37px;
  background: url('../assets/img/headerCardWarningExclamationMark.png') no-repeat;
}

.qa-team__first-answer-item:nth-of-type(1) .qa-team__first-answer-step {
  padding: 12px 22px 12px 29px;
}

.qa-team__first-answer-item:nth-of-type(2) .qa-team__first-answer-step {
  padding: 12px 19px 12px 29px;
}

.qa-team__first-answer-item:nth-of-type(3) .qa-team__first-answer-step {
  padding: 12px 19px 13px 29px;
}

.qa-team__first-answer-item:nth-of-type(4) .qa-team__first-answer-step {
  padding: 12px 19px 12px 29px;
}

.qa-team__first-answer-text {
  font-family: Geologica;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
}

.qa-team__first-answer-item:nth-of-type(2) .qa-team__first-answer-text {
  max-width: 700px;
}

.qa-team__second-question-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-bottom: 24px;
}

.qa-team__second-question-text {
  max-width: 784px;
  padding: 25px 35px 26px 35px;
  background-color: rgba(65, 60, 178, 1);
  box-shadow: 0px 0px 45px 0px rgba(255, 231, 12, 0.58);
  border-radius: 19.65px 19px 19.65px 0.85px;
  font-family: Wadik;
  font-size: 24px;
  font-weight: 700;
  line-height: 26.54px;
}

.qa-team__second-question-avatar {
  margin-left: 10px;
}

.qa-team__second-answer-wrapper {
  display: flex;
  align-items: flex-end;
  margin-bottom: 24px;
}

.qa-team__second-answer-owner-avatar {
  margin-right: 10px;
}

.qa-team__second-answer-content {
  width: 100%;
  max-width: 831px;
  padding: 25px 35px 25px 35px;
  border-radius: 19.65px 19px 19.65px 0.85px;
  background-color: rgba(28, 25, 91, 1);
  box-shadow: 0px 0px 45px 0px rgba(22, 115, 255, 0.58);
}

.qa-team__second-answer-list {
  padding: 21px 38px 27px 41px;
  /* background: url('../assets/img/qaTeamSecondAnswerListBorder.png') no-repeat; */
  background-repeat: no-repeat;
  background-size: 100% 100%;

  font-family: Geologica;
  font-size: 18px;
  font-weight: 200;
  line-height: 23px;
}

.qa-team__second-answer-item {
  display: flex;
  align-items: flex-start;
  gap: 15px;
}

.qa-team__second-answer-img,
.qa-team__second-answer-projects-img,
.qa-team__second-answer-support-img-wrapper,
.qa-team__second-answer-todo-img-wrapper,
.qa-team__second-answer-investment-img-wrapper {
  flex: 0 0 auto;
}

.qa-team__second-answer-projects,
.qa-team__second-answer-todo,
.qa-team__second-answer-support,
.qa-team__second-answer-investment {
  flex: 1 1 auto;
}

.qa-team__second-answer-projects-img {
  margin-right: 64px;
}

.qa-team__second-answer-item:nth-child(2) {
  margin-bottom: 5px;
}

.qa-team__second-answer-item:nth-child(3) {
  margin-bottom: 4px;
}

.qa-team__second-answer-todo-img-wrapper {
  padding-top: 3px;
  display: flex;
  gap: 13px;
}

.qa-team__second-answer-support-img-wrapper {
  padding-top: 3px;
  display: flex;
  gap: 13px;
}

.qa-team__second-answer-img {
  padding-top: 4px;
}

.qa-team__second-answer-investment-img-wrapper {
  padding-top: 4px;
  display: flex;
  gap: 13px;
}

.qa-team__second-answer-projects {
  max-width: 390px;
  padding-top: 1px;
  margin-right: 3px;
}

.qa-team__second-answer-todo {
  max-width: 337px;
  padding-top: 4px;
  margin-right: 56px;
}

.qa-team__second-answer-support {
  max-width: 350px;
  padding-top: 3px;
  margin-right: 43px;
}

.qa-team__second-answer-investment {
  max-width: 356px;
  padding-top: 5px;
  margin-right: 37px;
}

.qa-team__third-question-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-bottom: 24px;
}

.qa-team__third-question-text {
  max-width: 931px;
  padding: 25px 35px 25px 35px;
  background-color: rgba(65, 60, 178, 1);
  box-shadow: 0px 0px 45px 0px rgba(255, 231, 12, 0.58);
  border-radius: 19.65px 19px 19.65px 0.85px;
  font-family: Wadik;
  font-size: 24px;
  font-weight: 700;
  line-height: 26.54px;
}

.qa-team__third-question-avatar {
  margin-left: 10px;
}

.qa-team__third-answer-wrapper {
  display: flex;
  align-items: flex-end;
  margin-bottom: 22px;
}

.qa-team__third-answer-owner-avatar {
  margin-right: 10px;
}

.qa-team__third-answer-content {
  position: relative;
  width: 100%;
  max-width: 792px;
  padding: 30px 56px 6px 55px;
  border-radius: 19.65px 19px 19.65px 0.85px;
  background-color: rgba(28, 25, 91, 1);
  box-shadow: 0px 0px 45px 0px rgba(255, 231, 12, 0.58);
  /* background: url('../assets/img/reviewMembersBG.png') no-repeat; */
  background-repeat: no-repeat;
  background-size: 100% 100%;
  isolation: isolate;
}

.qa-team__third-answer-content::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180.21deg, rgba(29, 26, 91, 0) 0.18%, #312c53 92.88%);
  z-index: -1;
  border-bottom-right-radius: 19px;
}

.qa-team__third-answer-reviews {
  display: flex;
  max-width: 737px;
  justify-content: space-between;
  z-index: 2;
}

.qa-team__third-answer-reviews-img-wrapper {
  position: relative;
  width: 158px;
  cursor: pointer;
}

.qa-team__third-answer-reviews-img-wrapper::before {
  content: '';
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: calc(100% - 8px);
  top: 2px;
  left: 0;
  border-radius: 14px;
}

.qa-team__third-answer-reviews-img-wrapper::after {
  content: '';
  position: absolute;
  background: url('../assets/img/svg/playButton.svg') no-repeat;
  width: 34.22px;
  height: 34.22px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 14px;
}

.qa-team__third-answer-reviews-img-wrapper img {
  height: 298px;
}

.qa-team__third-answer-reviews-card-wrapper-1,
.qa-team__third-answer-reviews-card-wrapper-2,
.qa-team__third-answer-reviews-card-wrapper-3,
.qa-team__third-answer-reviews-card-wrapper-4 {
  display: flex;
  flex-direction: column;
}

.qa-team__third-answer-reviews-card-wrapper-1 {
  margin-right: 16px;
}

.qa-team__third-answer-reviews-card-wrapper-2 {
  padding-top: 1px;
  width: min-content;
  margin-right: 16px;
}

.qa-team__third-answer-reviews-card-wrapper-3 {
  padding-top: 1px;
  margin-right: 16px;
}

.qa-team__third-answer-reviews-card-wrapper-4 {
  padding-top: 1px;
}

.qa-team__third-answer-reviews-name {
  margin-bottom: 4px;
  font-family: Bicubik;
  font-size: 13px;
  font-weight: 400;
  line-height: 16.9px;
}

.qa-team__third-answer-reviews-position {
  font-family: Geologica;
  font-size: 12px;
  font-weight: 400;
  line-height: 16.2px;
  color: rgba(255, 255, 255, 0.45);
}

.qa-team__fourth-question-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-bottom: 22px;
}

.qa-team__fourth-question-text {
  max-width: 801px;
  padding: 25px 35px 26px 35px;
  background-color: rgba(65, 60, 178, 1);
  box-shadow: 0px 0px 45px 0px rgba(255, 231, 12, 0.58);
  border-radius: 19.65px 19px 19.65px 0.85px;
  font-family: Wadik;
  font-size: 24px;
  font-weight: 700;
  line-height: 26.54px;
}

.qa-team__fourth-question-avatar {
  margin-left: 10px;
}

.qa-team__fourth-answer-wrapper {
  display: flex;
  align-items: flex-end;
}

.qa-team__fourth-answer-owner-avatar {
  margin-right: 10px;
}

.qa-team__fourth-answer-text {
  max-width: 686px;
  padding: 25px 35px 25px 35px;
  background-color: rgba(28, 25, 91, 1);
  box-shadow: 0px 0px 45px 0px rgba(22, 115, 255, 0.58);
  border-radius: 19.65px 19px 19.65px 0.85px;
  font-family: Geologica;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
}

.qa-team__first-question-text-desktop,
.qa-team__first-answer-text-desktop,
.qa-team__second-answer-todo-desktop,
.qa-team__second-answer-investment-desktop,
.qa-team__third-answer-content-desktop,
.qa-team__fourth-answer-text-desktop,
.qa-team__second-answer-projects-desktop {
  display: block;
}

.qa-team__first-question-text-mobile,
.qa-team__first-answer-text-mobile,
.qa-team__second-answer-todo-mobile,
.qa-team__second-answer-investment-mobile,
.qa-team__third-answer-content-mobile,
.qa-team__fourth-answer-text-mobile,
.qa-team__second-answer-projects-mobile {
  display: none;
}

@media (max-width: 1100px) {
  .qa-team__wrapper {
    padding: 70px 50px 70px 70px;
  }

  .qa-team__first-answer-wrapper,
  .qa-team__second-answer-wrapper,
  .qa-team__third-answer-wrapper,
  .qa-team__fourth-answer-wrapper {
    max-width: 700px;
  }

  .qa-team__third-answer-content {
    max-height: 365px;
  }

  .qa-team__third-answer-reviews-img-wrapper {
    width: 130px;
  }

  .qa-team__third-answer-reviews-img-wrapper img {
    height: 250px;
  }

  .qa-team__third-answer-reviews-bg-3 {
    height: 48px;
  }
}

@media (max-width: 1000px) {
  .qa-team__first-question-text,
  .qa-team__second-question-text,
  .qa-team__third-question-text,
  .qa-team__fourth-question-text {
    max-width: 463px;
  }

  .qa-team__first-answer-wrapper,
  .qa-team__second-answer-wrapper,
  .qa-team__third-answer-wrapper,
  .qa-team__fourth-answer-wrapper {
    max-width: 550px;
  }

  .qa-team__second-answer-list {
    display: grid;
    gap: 16px;
  }

  .qa-team__second-answer-item {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: start;
    gap: 16px;
  }

  .qa-team__second-answer-img {
    grid-row: 1 / span 2;
    align-self: start;
  }

  .qa-team__second-answer-projects,
  .qa-team__second-answer-todo,
  .qa-team__second-answer-support,
  .qa-team__second-answer-investment {
    margin-right: 0;
    max-width: none;
  }

  .qa-team__third-answer-reviews-bg-1 {
    height: 70px;
  }

  .qa-team__third-answer-reviews-bg-2 {
    height: 200px;
  }

  .qa-team__third-answer-reviews {
    left: 5%;
  }

  .qa-team__third-answer-reviews-card-wrapper-3 {
    width: min-content;
  }

  .qa-team__third-answer-reviews-img-wrapper {
    width: 100px;
  }

  .qa-team__third-answer-reviews-img-wrapper img {
    height: 205px;
  }

  .qa-team__third-answer-reviews-bg-3 {
    height: 48px;
  }
}

@media (max-width: 830px) {
  .qa-team__wrapper {
    padding: 70px 25px 70px 25px;
  }

  .qa-team__first-answer-list,
  .qa-team__second-answer-content,
  .qa-team__fourth-answer-text {
    padding: 25px 23px 25px 25px;
    max-width: 390px;
  }

  .qa-team__third-answer-content {
    max-width: 433px;
  }

  .qa-team__third-answer-reviews-card-wrapper-1,
  .qa-team__third-answer-reviews-card-wrapper-2,
  .qa-team__third-answer-reviews-card-wrapper-3 {
    margin-right: 10px;
  }

  .qa-team__third-answer-reviews-img-wrapper {
    width: 90px;
  }

  .qa-team__third-answer-reviews-img-wrapper img {
    height: 175px;
  }

  .qa-team__third-answer-reviews-name {
    font-size: 11px;
  }

  .qa-team__third-answer-content {
    padding: 30px 56px 11px 20px;
  }
}

@media (max-width: 680px) {
  .qa-team__first-question-text,
  .qa-team__second-question-text,
  .qa-team__third-question-text {
    max-width: 360px;
  }
}

@media (max-width: 590px) {
  .qa-team {
    padding: 0 7px 0 6px;
  }

  .qa-team__wrapper {
    padding: 35px 8px 35px 6px;
    border-radius: 15px;
    /* background: url('../assets/img/qaTeamBGMobile.png') no-repeat; */
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  .qa-team__container {
    margin: 0 auto;
    max-width: 363px;
  }

  .qa-team__first-answer-owner-avatar,
  .qa-team__fourth-answer-owner-avatar {
    margin-right: 4px;
  }

  .qa-team__first-question-wrapper {
    margin-bottom: 22px;
  }

  .qa-team__first-question-text {
    max-width: 249px;
    padding: 13px 22px 13px 25px;
    box-shadow: none;
    font-size: 13px;
    line-height: 14px;
  }

  .en .qa-team__first-question-text {
    max-width: 269px;
    padding: 13px 22px 13px 25px;
    box-shadow: none;
    font-size: 13px;
    line-height: 14px;
  }

  .qa-team__first-answer-wrapper {
    margin-bottom: 22px;
    padding-left: 6px;
  }

  .qa-team__first-answer-list {
    padding: 15px 23px 15px 25px;
    box-shadow: none;
  }

  .qa-team__first-answer-item:not(:last-child) {
    margin-bottom: 15px;
  }

  .qa-team__first-answer-step {
    font-size: 14px;
    line-height: 17px;
  }

  .qa-team__first-answer-item:nth-of-type(1) .qa-team__first-answer-step {
    padding: 6px 17px 5px 19px;
  }

  .qa-team__first-answer-item:nth-of-type(2) .qa-team__first-answer-step {
    padding: 6px 15px 5px 19px;
  }

  .qa-team__first-answer-item:nth-of-type(3) .qa-team__first-answer-step {
    padding: 6px 15px 5px 19px;
  }

  .qa-team__first-answer-item:nth-of-type(4) .qa-team__first-answer-step {
    padding: 6px 15px 5px 19px;
  }

  .qa-team__first-answer-step::before {
    top: 2px;
    width: 22px;
    height: 25px;
    background: url('../assets/img/headerCardWarningExclamationMarkMobile.png') no-repeat;
  }

  .qa-team__first-answer-text {
    font-size: 14px;
    line-height: 18px;
  }

  .qa-team__second-question-wrapper {
    margin-bottom: 22px;
  }

  .qa-team__second-question-text {
    max-width: 264px;
    padding: 13px 22px 13px 25px;
    box-shadow: none;
    font-size: 13px;
    line-height: 14px;
  }

  .qa-team__second-answer-content {
    padding: 15px 19px 21px 25px;
    box-shadow: none;
  }

  .qa-team__second-answer-list {
    padding: 12px 0 46px 21px;
    gap: 2px;
    /* background: url('../assets/img/qaTeamSecondAnswerListBorderMobile.png') no-repeat; */
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-family: Geologica;
    font-size: 14px;
    font-weight: 250;
    line-height: 18px;
  }

  .qa-team__second-answer-item {
    padding-left: 2px;
    column-gap: 6px;
    row-gap: 9px;
  }

  .qa-team__second-answer-item:nth-child(1) {
    padding-left: 2px;
  }

  .qa-team__second-answer-item:nth-child(2) {
    padding-left: 4px;
    margin-bottom: 3px;
    column-gap: 7px;
    row-gap: 5px;
  }

  .qa-team__second-answer-item:nth-child(3) {
    padding-left: 4px;
    margin-bottom: 1px;
    column-gap: 7px;
    row-gap: 6px;
  }

  .qa-team__second-answer-item:nth-child(4) {
    padding-left: 1px;
    column-gap: 7px;
    row-gap: 1px;
  }

  .qa-team__second-answer-item:nth-of-type(1) .qa-team__second-answer-img {
    padding-top: 5px;
    width: 17px;
  }

  .qa-team__second-answer-item:nth-of-type(2) .qa-team__second-answer-img {
    width: 14px;
  }

  .qa-team__second-answer-item:nth-of-type(3) .qa-team__second-answer-img {
    padding-top: 8px;
    width: 14px;
  }

  .qa-team__second-answer-item:nth-of-type(4) .qa-team__second-answer-img {
    padding-top: 5px;
    width: 18px;
  }

  .qa-team__second-answer-projects {
    max-width: 195px;
    padding-top: 2px;
    padding-left: 1px;
  }

  .qa-team__second-answer-projects-img {
    width: 152.4px;
  }

  .qa-team__second-answer-todo {
    padding-top: 4px;
    padding-left: 1px;
  }

  .en .qa-team__second-answer-todo {
    padding-top: 4px;
    padding-left: 1px;
    padding-right: 15px;
  }

  .qa-team__second-answer-support {
    padding-top: 4px;
    padding-left: 1px;
  }

  .qa-team__second-answer-img {
    padding-top: 6px;
  }

  .qa-team__second-answer-todo-img-wrapper,
  .qa-team__second-answer-support-img-wrapper {
    gap: 2px;
    max-width: 102px;
  }

  .qa-team__second-answer-investment-img-wrapper {
    gap: 3px;
    max-width: 102px;
  }

  .qa-team__third-question-text {
    max-width: 220px;
    padding: 13px 26px 13px 25px;
    box-shadow: none;
    font-size: 13px;
    line-height: 14px;
  }

  .en .qa-team__third-question-text {
    max-width: 241px;
    padding: 13px 26px 13px 25px;
    box-shadow: none;
    font-size: 13px;
    line-height: 14px;
  }

  .qa-team__third-answer-content {
    padding: 63px 10px 0 19px;
    max-height: none;
    max-width: 315px;
    height: 414px;
    background: url('../assets/img/reviewMembersBGMobile.png') no-repeat;
    background-size: 100% 100%;
    box-shadow: none;
  }

  .qa-team__third-answer-wrapper {
    margin-bottom: 24px;
    max-width: none;
  }

  .qa-team__third-answer-reviews-card-wrapper-1,
  .qa-team__third-answer-reviews-card-wrapper-2,
  .qa-team__third-answer-reviews-card-wrapper-3 {
    margin-right: 0;
  }

  .qa-team__third-answer-reviews-wrapper {
    overflow: hidden;
  }

  .qa-team__third-answer-reviews {
    left: auto;
    top: auto;
  }

  .qa-team__third-answer-reviews-img-wrapper img {
    height: 246px;
  }

  .qa-team__third-answer-reviews-img-wrapper {
    width: 132px;
    margin-bottom: 8px;
  }

  .qa-team__fourth-question-text {
    max-width: 300px;
    padding: 13px 30px 13px 25px;
    box-shadow: none;
    font-size: 13px;
    line-height: 14px;
  }

  .qa-team__fourth-question-wrapper {
    padding-left: 6px;
    margin-bottom: 24px;
  }

  .qa-team__fourth-answer-wrapper {
    padding-left: 6px;
  }

  .qa-team__fourth-answer-text {
    padding: 15px 25px 15px 25px;
    box-shadow: none;
    font-size: 14px;
    line-height: 18px;
  }

  .qa-team__first-question-text-desktop,
  .qa-team__first-answer-text-desktop,
  .qa-team__second-answer-todo-desktop,
  .qa-team__second-answer-investment-desktop,
  .qa-team__third-answer-content-desktop,
  .qa-team__fourth-answer-text-desktop,
  .qa-team__second-answer-projects-desktop {
    display: none;
  }

  .qa-team__first-question-text-mobile,
  .qa-team__first-answer-text-mobile,
  .qa-team__second-answer-todo-mobile,
  .qa-team__second-answer-investment-mobile,
  .qa-team__third-answer-content-mobile,
  .qa-team__fourth-answer-text-mobile,
  .qa-team__second-answer-projects-mobile {
    display: block;
  }
}
