.why-us {
  padding: 0 26px 0 26px;
  margin-bottom: 25px;
}

.why-us__wrapper {
  position: relative;
  padding: 73px 103px 134px 113px;
  /* background: url('../assets/img/whyUsBG.png') no-repeat; */
  background-repeat: no-repeat;
  border-radius: 22.27px;
  isolation: isolate;
}

.why-us__franklin {
  content: '';
  position: absolute;
  bottom: 0;
  right: -2px;
  width: 643px;
  height: 584px;
  /* background: url('../assets/img/franklin.png') no-repeat; */
  background-repeat: no-repeat;
  background-position: bottom;
  z-index: -1;
}

.why-us__question-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-bottom: 24px;
}

.why-us__question {
  max-width: 637px;
  padding: 25px 44px 26px 35px;
  border-radius: 19.65px 19px 19.65px 0.85px;
  background-color: #413cb2;
  box-shadow: 0px 0px 45px 0px #ffe70c94;
  font-family: Wadik;
  font-size: 24px;
  font-weight: 700;
  line-height: 26.54px;
}

.why-us__question-avatar {
  margin-left: 10px;
}

.why-us__first-answer {
  display: flex;
  align-items: flex-end;
  margin-bottom: 24px;
}

.why-us__first-answer-owner-avatar {
  margin-right: 10px;
}

.why-us__first-answer-content {
  width: 100%;
  max-width: 822px;
  padding: 25px 40px 25px 35px;
  border-radius: 19.65px 19px 19.65px 0.85px;
  background-color: #1c195b;
  box-shadow: 0px 0px 45px 0px #ffe70c94;
}

.why-us__first-answer-text:nth-of-type(1) {
  margin-bottom: 15px;
  font-family: Bicubik;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
}

.en .why-us__first-answer-text:nth-of-type(1) {
  max-width: 685px;
  margin-bottom: 15px;
  font-family: Bicubik;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
}

.why-us__first-answer-text:nth-of-type(2) {
  max-width: 600px;
  font-family: Geologica;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
}

.why-us__second-answer {
  display: flex;
  align-items: flex-end;
  margin-bottom: 24px;
}

.why-us__second-answer-owner-avatar {
  margin-right: 10px;
}

.why-us__second-answer-content {
  max-width: 642px;
  padding: 25px 32px 25px 35px;
  border-radius: 19.65px 19px 19.65px 0.85px;
  background-color: #1c195b;
  box-shadow: 0px 0px 45px 0px #ffe70c94;
  font-family: Geologica;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
}

.why-us__second-answer-text:nth-of-type(1) {
  margin-bottom: 23px;
}

.why-us__second-answer-text:nth-of-type(2) {
  max-width: 540px;
  margin-bottom: 25px;
}

.why-us__second-answer-text:nth-of-type(3) {
  position: relative;
  max-width: 572px;
  padding: 22px 22px 31px 65px;
  color: #1c195b;
  /* background: url('../assets/img/whyUsSecondAnswerTextBG.png') no-repeat; */
  background-size: 100% 100%;
}

.why-us__second-answer-text:nth-of-type(3)::before {
  content: '';
  position: absolute;
  top: 25px;
  left: 25px;
  width: 24px;
  height: 24px;
  background: url('../assets/img/svg/whyUsSecondAnswerDollarSign.svg') no-repeat;
}

.why-us__third-answer {
  display: flex;
  align-items: flex-end;
}

.why-us__third-answer-owner-avatar {
  margin-right: 10px;
}

.why-us__third-answer-text {
  max-width: 599px;
  padding: 25px 32px 25px 35px;
  border-radius: 19.65px 19px 19.65px 0.85px;
  background-color: #1c195b;
  box-shadow: 0px 0px 45px 0px #ffe70c94;
  font-family: Geologica;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
}

.why-us__first-answer-content-desktop,
.why-us__second-answer-content-desktop,
.why-us__question-desktop {
  display: block;
}

.why-us__first-answer-content-mobile,
.why-us__second-answer-content-mobile,
.why-us__question-mobile {
  display: none;
}

@media (max-width: 1200px) {
  .why-us__wrapper {
    padding: 73px 103px 520px 113px;
  }

  .why-us__franklin {
    right: 50%;
    transform: translate(50%, 0);
  }

  .why-us__first-answer {
    max-width: 700px;
  }
}

@media (max-width: 1100px) {
  .why-us__wrapper {
    padding: 73px 50px 520px 70px;
  }
}

@media (max-width: 1000px) {
  .why-us__question {
    max-width: 463px;
  }

  .why-us__first-answer,
  .why-us__second-answer,
  .why-us__third-answer {
    max-width: 550px;
  }
}

@media (max-width: 830px) {
  .why-us__wrapper {
    padding: 73px 25px 450px 25px;
  }

  .why-us__franklin {
    background-size: contain;
    width: 570px;
  }

  .why-us__first-answer,
  .why-us__second-answer,
  .why-us__third-answer {
    max-width: 430px;
  }
}

@media (max-width: 680px) {
  .why-us__question {
    max-width: 360px;
  }
}

@media (max-width: 590px) {
  .why-us {
    padding: 0 7px 0 6px;
    margin-bottom: 25px;
  }

  .why-us__wrapper {
    padding: 35px 8px 334px 12px;
    /* background: url('../assets/img/whyUsBGMobile.png') no-repeat; */
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 15px;
  }

  .why-us__container {
    margin: 0 auto;
    max-width: 357px;
  }

  .why-us__franklin {
    right: 50%;
    transform: translate(50%, 0);
    width: 380px;
    height: 362px;
    /* background: url('../assets/img/franklinMobile.png') no-repeat; */
    background-repeat: no-repeat;
    background-position: bottom;
  }

  .why-us__question-wrapper {
    margin-bottom: 22px;
  }

  .why-us__question {
    max-width: 263px;
    padding: 13px 16px 12px 25px;
    font-size: 13px;
    line-height: 14.38px;
  }

  .why-us__first-answer {
    margin-bottom: 22px;
  }

  .why-us__first-answer-content {
    padding: 16px 18px 15px 25px;
    box-shadow: none;
  }

  .why-us__first-answer-text:nth-of-type(1) {
    margin-bottom: 14px;
    font-size: 12px;
    line-height: 16px;
  }

  .why-us__first-answer-text:nth-of-type(2) {
    font-size: 14px;
    line-height: 18px;
  }

  .en .why-us__first-answer-text:nth-of-type(1) {
    font-family: Bicubik;
    font-size: 12px;
    font-weight: 400;
    line-height: 15.6px;
  }

  .why-us__second-answer {
    margin-bottom: 22px;
  }

  .why-us__second-answer-content {
    padding: 15px 12px 3px 25px;
    box-shadow: none;
    font-size: 14px;
    line-height: 18px;
  }

  .ua .why-us__second-answer-content {
    padding: 15px 12px 20px 25px;
  }

  .en .why-us__second-answer-content {
    padding: 15px 12px 20px 25px;
  }

  .why-us__second-answer-text:nth-of-type(1) {
    margin-bottom: 18px;
  }

  .why-us__second-answer-text:nth-of-type(2) {
    margin-bottom: 15px;
  }

  .why-us__second-answer-text:nth-of-type(3) {
    padding: 13px 6px 31px 36px;
    /* background: url('../assets/img/whyUsSecondAnswerTextBGMobile.png') no-repeat; */
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-size: auto;
  }

  .ua .why-us__second-answer-text:nth-of-type(3) {
    background-size: 100% 100%;
    padding: 13px 6px 15px 36px;
  }

  .en .why-us__second-answer-text:nth-of-type(3) {
    background-size: 100% 100%;
    padding: 13px 6px 15px 36px;
  }

  .why-us__second-answer-text:nth-of-type(3)::before {
    top: 14px;
    left: 11px;
    width: 19px;
    height: 19px;
    background-size: contain;
  }

  .why-us__third-answer-text {
    padding: 15px 23px 15px 25px;
    box-shadow: none;
    font-size: 14px;
    line-height: 18px;
  }

  .why-us__first-answer-owner-avatar,
  .why-us__second-answer-owner-avatar,
  .why-us__third-answer-owner-avatar {
    margin-right: 4px;
  }

  .why-us__first-answer-content-desktop,
  .why-us__second-answer-content-desktop,
  .why-us__question-desktop {
    display: none;
  }

  .why-us__first-answer-content-mobile,
  .why-us__second-answer-content-mobile,
  .why-us__question-mobile {
    display: block;
  }
}
